/*
------------------ fuentes de letras -----------------
*/

@font-face {
    font-family: 'Nunito';
    src: url('./herramientas/fonts/vendor/@fontsource/nunito/files/nunito-all-400-normal.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('./herramientas/fonts/vendor/@fontsource/nunito/files/nunito-latin-600-normal.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('./herramientas/fonts/vendor/@fontsource/nunito/files/nunito-latin-700-normal.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-style: normal;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-style: normal;
}

/*
------------------ boton y paginas errores -----------------
*/

.boton-error:hover {
    background-color: #1d4ed8;
    color: white;
}

.bg-light {
    background-color: #f2f7ff;
}

.bg-dark {
    background-color: #151521;
}

/*
------- texto Log in. ---------
*/

.dark .log {
    color: white;
}

.light .log {
    color: #25396f;
}

/*
------- poner icono en username y password + entrada ---------
*/

.icono1 {
    margin-left: 3px;
}

.dark .entrada {
    background-color: #1b1b29;
}

.light .entrada {
    background-color: #ffffff;
}

/*
------------------ checkbox ---------------------
*/

.border-gray-700:focus {
    box-shadow: 0 0 0 3px rgba(75, 100, 103, 0.4);
    transition: box-shadow 0.1s ease-in-out;


}

input {
    transition: box-shadow 0.1s ease-in-out;
}


.custom-checkbox {
    height: 1.5em;
    width: 1.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25em;
    outline: none;
    transition: all 150ms;
    background-color: transparent;
    cursor: pointer;

}

.custom-checkbox::before {
    content: '✔';
    font-family: '';
    font-size: 0.8em;
    color: transparent;
    text-align: center;
    opacity: 0;
    transition: all 150ms;
    padding-left: 0.5em;
    padding-top: 0.7em;
}

.custom-checkbox:focus {
    border-width: 3px;
    box-shadow: 0 0 0 1px rgba(75, 100, 103, 0.4);
}

.custom-checkbox:not(:focus):not(:checked) {
    box-shadow: 0 0 0 3px rgba(119, 137, 139, 0.4);

}

.custom-checkbox:checked::before {
    color: #fff;
    opacity: 1;

}

.custom-checkbox:hover {
    cursor: default;
}

input[type="checkbox"].selected {
    border: none;
    box-shadow: none;
}

.dark .custom-checkbox:checked {
    background-color: #334c99;
}

.light .custom-checkbox:checked {
    background-color: #334c99;
}

.dark .custom-checkbox {
    background-color: #1b1b29;
}

.light .custom-checkbox {
    background-color: #ffffff;
}

/*
---------------- dark theme / light theme -----------------
*/

.bg-light {
    background-color: #f2f7ff;
}

.bg-dark {
    background-color: #151521;
}

/*
----------------sidebar animación-----------------
*/
@media screen and (max-width: 1200px) {
    #sidebar {
        transform: translateX(0%);
    }

    #sidebar.active {
        transform: translateX(0%);
        transition: transform 0.1s ease;
    }
}

@media screen and (min-width: 1201px) {
    #sidebar {
        transform: translateX(0%);
    }

    #sidebar.active {
        transform: translateX(0%);
        transition: transform 0.1s ease;
    }
}


/*
----------------sidebar boton luz-----------------
*/

:root {
    --light-bg-color: #ffffff;
    --light-text-color: #000000;
    --dark-bg-color: #1a1a1a;
    --dark-text-color: #f1f1f1;
}

#toggle-button {
    width: 30px;
    height: 17px;
    background-color: #ffffff;
    border: 3px solid #e1e3ea;
    border-radius: 2em;
    cursor: pointer;
}

#sun-moon {
    width: 9px;
    height: 9px;
    background-color: #bfbfbf;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.2s;
}

.light .sun-color {
    stroke: #3d396f;
}

.dark .sun-color {
    stroke: #9899ac;
}

body.dark-theme #sun-moon {

    left: 17px;
    background-color: var(--dark-text-color);
}

body.dark-theme #toggle-button {
    background-color: #435ebe;
    border-color: #435ebe;;
}

/*
----------------sidebar herramientas-----------------
*/

.dark .textoSidebar {
    color: #9899ac;
}

.light .textoSidebar {
    color: #3d396f;
}

.bi-layout-sidebar-inset-reverse:before {
    content: "\f45c"
}

.bi-layout-sidebar-inset:before {
    content: "\f45d"
}

.bi-layout-sidebar-reverse:before {
    content: "\f45e"
}

.bi-layout-sidebar:before {
    content: "\f45f"
}

.bi-layout-text-sidebar-reverse:before {
    content: "\f461"
}

.bi-layout-text-sidebar:before {
    content: "\f462"
}

.bi-window-sidebar:before {
    content: "\f61f"
}

.layout-navbar {
    --navbar-height: 90px;
}
.layout-navbar footer {
    padding-left: 2rem;
    padding-right: 2rem;
}
.layout-navbar.navbar-fixed {
    display: block !important;
}

#main.layout-navbar {
    padding: 0;
    transition: margin-left 0.7s cubic-bezier(0.22, 1, 0.36, 1);
}

#sidebar .sidebar-wrapper {
    left: -300px;
  }
  #sidebar ~ #main {
    margin-left: 0;
  }
  @media screen and (min-width: 1200px) {
    #sidebar .sidebar-wrapper {
      left: 0;
    }
    #sidebar ~ #main {
      margin-left: 300px;
    }
  }
  #sidebar.inactive .sidebar-wrapper {
    left: -300px;
  }
  #sidebar.inactive ~ #main {
    margin-left: 0;
  }
  #sidebar.active .sidebar-wrapper {
    left: 0;
  }

.sidebar-wrapper {
    background-color: #fff;
    bottom: 0;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    top: 0;
    transition: left .5s ease-out;
    width: 300px;
    z-index: 10
}

.sidebar-wrapper .sidebar-header {
    font-family: 'Nunito';
    font-size: 1rem;
    font-weight: 600;
    padding: 1.8rem 2rem 1rem;
}

.sidebar-wrapper .sidebar-header img {
    height: 1.2rem
}

.sidebar-wrapper .sidebar-toggler.x {
    display: none;
    position: absolute;
    right: 1.75rem;
    top: .25rem
}

.sidebar-wrapper .menu {
    font-family: 'Nunito';
    font-weight: 600;
    margin-top: 1rem;
    padding: 0 2rem
}

.sidebar-wrapper .menu .sidebar-title {
    font-family: 'Nunito';
    font-size: 1rem;
    font-weight: 600;
    list-style: none;
    margin: 1.5rem 0 1rem;
    padding: 0 1rem
}

.sidebar-wrapper .menu .sidebar-link {
    align-items: center;
    border-radius: .5rem;
    color: #25396f;
    display: block;
    display: flex;
    font-size: 1rem;
    padding: .2rem 1rem;
    text-decoration: none;
    transition: all .5s
}

.sidebar-wrapper .menu .sidebar-link i,
.sidebar-wrapper .menu .sidebar-link svg {
    color: #7c8db5
}

.sidebar-wrapper .menu .sidebar-link i:before {
    vertical-align: top
}

.sidebar-wrapper .menu .sidebar-link span {
    margin-left: 1rem
}

.dark .sidebar-wrapper .menu .sidebar-link:hover {
    background-color: #1e1e2d
}

.light .sidebar-wrapper .menu .sidebar-link:hover {
    background-color: #f0f1f5
}

.sidebar-wrapper .menu .sidebar-item {
    list-style: none;
    margin-top: .5rem;
    position: relative
}

.sidebar-wrapper .menu .sidebar-item.has-sub .sidebar-link:after {
    content: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><path style="fill:none;stroke:gray;stroke-width:1" d="m6 9 6 6 6-6"/></svg>');
    display: block;
    position: absolute;
    right: 15px;
    top: 12px
}

.sidebar-wrapper .menu .sidebar-item.active.has-sub .sidebar-link:after {
    content: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><path style="fill:none;stroke:%23fff;stroke-width:1" d="m6 9 6 6 6-6"/></svg>')
}

.sidebar-wrapper .menu .sidebar-item.active>.sidebar-link {
    background-color: #435ebe
}

.sidebar-wrapper .menu .sidebar-item.active>.sidebar-link span {
    color: #fff
}

.sidebar-wrapper .menu .sidebar-item.active>.sidebar-link i,
.sidebar-wrapper .menu .sidebar-item.active>.sidebar-link svg {
    fill: #fff;
    color: #fff
}

.sidebar-wrapper .menu .sidebar-item.active>.sidebar-link.has-sub:after {
    content: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><path style="fill:none;stroke:%23fff;stroke-width:1" d="m6 9 6 6 6-6"/></svg>')
}

.sidebar-wrapper .menu .submenu {
    display: none;
    list-style: none;
    overflow: hidden;
    transition: max-height 2s cubic-bezier(0, .55, .45, 1)
}

.sidebar-wrapper .menu .submenu.active {
    display: block;
    max-height: 999px
}

.sidebar-wrapper .menu .submenu .submenu-item.active {
    position: relative
}

.sidebar-wrapper .menu .submenu .submenu-item.active>a {
    color: #435ebe;
    font-weight: 600;
    font-family: 'Nunito';
}

.sidebar-wrapper .menu .submenu .submenu-item a {
    font-family: 'Nunito';
    display: block;
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: .5px;
    padding: .7rem 2rem;
    transition: all .3s
}

.dark .sidebar-wrapper .menu .submenu .submenu-item a:hover {
    color: white;
    margin-left: .3rem
}

.light .sidebar-wrapper .menu .submenu .submenu-item a:hover {
    color: #435ebe;
    margin-left: .3rem
}


.sidebar-backdrop {
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9
}

@media screen and (max-width: 1199px) {
    .sidebar-wrapper {
      position: fixed;
      left: -300px;
    }
    .sidebar-wrapper .sidebar-toggler.x {
      display: block;
    }
  }

  #main {
    margin-left: 300px;
    padding: 2rem;
    min-height: 100vh;
  }
  @media screen and (max-width: 1199px) {
    #main {
      margin-left: 0;
    }
  }