<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accordion - Mazer Admin Dashboard</title>
    <link href="/css/output.css" rel="stylesheet">
    <link rel="stylesheet" href="../elementos/elementos.css">
    <link rel="shortcut icon" href="../elementos/herramientas/images/logo/favicon.svg" type="image/x-icon" />
    <link rel="shortcut icon" href="../elementos/herramientas/images/logo/favicon.png" type="image/png" />
    <script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
</head>

<body>
    <div class="flex flex-col max-w-md mx-auto">
        <div class="border-b border-gray-300">
            <button
                class="accordion-title flex items-center justify-between w-full px-4 py-2 text-sm font-medium text-left text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring focus:ring-indigo-500 transition duration-300"
                onclick="toggleAccordion(event)">
                <span>Sección 1</span>
            </button>
            <div class="accordion-content">
                <div class="px-4 py-2 text-sm text-gray-700 bg-white">Contenido de la sección 1</div>
            </div>
        </div>
        <div class="border-b border-gray-300">
            <button
                class="accordion-title flex items-center justify-between w-full px-4 py-2 text-sm font-medium text-left text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring focus:ring-indigo-500 transition duration-300"
                onclick="toggleAccordion(event)">
                <span>Sección 2</span>
            </button>
            <div class="accordion-content">
                <div class="px-4 py-2 text-sm text-gray-700 bg-white">Contenido de la sección 2</div>
            </div>
        </div>
        <div class="border-b border-gray-300">
            <button
                class="accordion-title flex items-center justify-between w-full px-4 py-2 text-sm font-medium text-left text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring focus:ring-indigo-500 transition duration-300"
                onclick="toggleAccordion(event)">
                <span>Sección 3</span>
            </button>
            <div class="accordion-content">
                <div class="px-4 py-2 text-sm text-gray-700 bg-white">Contenido de la sección 3</div>
            </div>
        </div>
    </div>
    <script>
        function toggleAccordion(event) {
            const accordionTitle = event.target;
            const accordionContent = accordionTitle.nextElementSibling;
            accordionTitle.classList.toggle('active');
            accordionContent.classList.toggle('active');
        }
    </script>

</body>


</html>

<style>
    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }

    .accordion-title.active+.accordion-content {
        max-height: 1000px;
        /* Utiliza una altura máxima más grande que el contenido real */
        transition: max-height 0.3s ease-in;
    }
</style>