<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Accordion - Mazer Admin Dashboard</title>
  <link href="/css/output.css" rel="stylesheet">
  <link rel="stylesheet" href="../elementos/elementos2.css">
  <link rel="shortcut icon" href="../elementos/herramientas/images/logo/favicon.svg" type="image/x-icon" />
  <link rel="shortcut icon" href="../elementos/herramientas/images/logo/favicon.png" type="image/png" />
  <script src="/node_modules/preline/dist/preline.js"></script>
  <script defer src="../elementos/button-light-dark.js"></script>

</head>

<body>
  <div id="app">
    <div id="sidebar" class="xl:active xxl:active fixed">
      <div class="sidebar-wrapper active entrada">
        <div class="sidebar-header relative">

          <div class="flex w-60 mt-3 mb-2 items-center">
            <div class="logo">
              <a href="../index.html"><img src="../elementos/herramientas/images/logo/logo.svg" alt="Logo" /></a>
            </div>

            <div class="flex gap-2 items-center mt-1">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                role="img" class="ml-14 textoSidebar iconify iconify--system-uicons sun-color" width="20" height="22"
                preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21">
                <g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                  <path
                    d="M10.5 14.5c2.219 0 4-1.763 4-3.982a4.003 4.003 0 0 0-4-4.018c-2.219 0-4 1.781-4 4c0 2.219 1.781 4 4 4zM4.136 4.136L5.55 5.55m9.9 9.9l1.414 1.414M1.5 10.5h2m14 0h2M4.135 16.863L5.55 15.45m9.899-9.9l1.414-1.415M10.5 19.5v-2m0-14v-2"
                    opacity=".3"></path>
                  <g transform="translate(-210 -1)">
                    <path d="M220.5 2.5v2m6.5.5l-1.5 1.5"></path>
                    <circle cx="220.5" cy="11.5" r="4"></circle>
                    <path d="m214 5l1.5 1.5m5 14v-2m6.5-.5l-1.5-1.5M214 18l1.5-1.5m-4-5h2m14 0h2"></path>
                  </g>
                </g>
              </svg>

              <div class="relative block mb-2 mt-2 fs-6" id="theme-toggle">
                <div id="toggle-button" onclick="toggleTheme()">
                  <div id="sun-moon" class="sun"></div>
                </div>
              </div>

              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                role="img" class="ml-2 textoSidebar iconify iconify--mdd" width="20" height="20"
                preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path fill="#607080"
                  d="m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3l3.19.09m3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95l2.06.05m-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31Z">
                </path>
              </svg>
            </div>

            <button id="sidebar-hide"
              class="sidebar-hide absolute textoSidebar top-2 right-2 bg-color-transparent border-none p-0 xl:hidden xxl:hidden">
              <svg class="bi" width="25" height="40" fill="currentColor">
                <use xlink:href="../elementos/herramientas/images/icons.svg#x" />
              </svg>
            </button>


          </div>


        </div>
        <div class="sidebar-menu">
          <ul class="menu">
            <li class="sidebar-title textoSidebar">Menu</li>

            <li class="sidebar-item ">
              <a href="../index.html" class="sidebar-link">
                <svg class="bi" width="15" height="40" fill="currentColor">
                  <use xlink:href="../elementos/herramientas/images/icons.svg#grid-fill" />
                </svg> <span class="textoSidebar">Dashboard</span>
              </a>
            </li>

            <li class="w-60 sidebar-item active has-sub">
              <a href="#" class="sidebar-link">
                <svg class="bi" width="15" height="40" fill="currentColor">
                  <use xlink:href="../elementos/herramientas/images/icons.svg#stack" />
                </svg> <span class="textoSidebar">Components</span>
              </a>
              <ul class="submenu active textoSidebar ml-8">
                <li class="submenu-item active">
                  <a href="component-accordion.html">Accordion</a>
                </li>
                <li class="submenu-item">
                  <a href="component-alert.html">Alert</a>
                </li>
                <li class="submenu-item">
                  <a href="component-badge.html">Badge</a>
                </li>
                <li class="submenu-item">
                  <a href="component-breadcrumb.html">Breadcrumb</a>
                </li>
                <li class="submenu-item">
                  <a href="component-button.html">Button</a>
                </li>
                <li class="submenu-item">
                  <a href="component-card.html">Card</a>
                </li>
                <li class="submenu-item">
                  <a href="component-carousel.html">Carousel</a>
                </li>
                <li class="submenu-item">
                  <a href="component-collapse.html">Collapse</a>
                </li>
                <li class="submenu-item">
                  <a href="component-dropdown.html">Dropdown</a>
                </li>
                <li class="submenu-item">
                  <a href="component-list-group.html">List Group</a>
                </li>
                <li class="submenu-item">
                  <a href="component-modal.html">Modal</a>
                </li>
                <li class="submenu-item">
                  <a href="component-navs.html">Navs</a>
                </li>
                <li class="submenu-item">
                  <a href="component-pagination.html">Pagination</a>
                </li>
                <li class="submenu-item">
                  <a href="component-progress.html">Progress</a>
                </li>
                <li class="submenu-item">
                  <a href="component-spinner.html">Spinner</a>
                </li>
                <li class="submenu-item">
                  <a href="component-toasts.html">Toasts</a>
                </li>
                <li class="submenu-item">
                  <a href="component-tooltip.html">Tooltip</a>
                </li>
              </ul>
            </li>

            <li class="w-60 sidebar-item has-sub">
              <a href="#" class="sidebar-link">
                <svg class="bi" width="15" height="40" fill="currentColor">
                  <use xlink:href="../elementos/herramientas/images/icons.svg#collection-fill" />
                </svg> <span class="textoSidebar">Extra Components</span>
              </a>
              <ul class="submenu textoSidebar ml-8">
                <li class="submenu-item">
                  <a href="../extraComponents/extra-component-avatar.html">Avatar</a>
                </li>
                <li class="submenu-item">
                  <a href="../extraComponents/extra-component-divider.html">Divider</a>
                </li>
                <li class="submenu-item">
                  <a href="../extraComponents/extra-component-date-picker.html">Date Picker</a>
                </li>
                <li class="submenu-item">
                  <a href="../extraComponents/extra-component-sweetalert.html">Sweet Alert</a>
                </li>
                <li class="submenu-item">
                  <a href="../extraComponents/extra-component-toastify.html">Toastify</a>
                </li>
                <li class="submenu-item">
                  <a href="../extraComponents/extra-component-rating.html">Rating</a>
                </li>                
              </ul>
            </li>

            <li class="w-60 sidebar-item has-sub mb-6">
              <a href="#" class="sidebar-link">
                <svg class="bi" width="15" height="40" fill="currentColor">
                  <use xlink:href="../elementos/herramientas/images/icons.svg#grid-1x2-fill" />
                </svg> <span class="textoSidebar">Layouts</span>
              </a>
              <ul class="submenu textoSidebar ml-8">
                <li class="submenu-item">
                  <a href="../layouts/layout-default.html">Default Layout</a>
                </li>
                <li class="submenu-item">
                  <a href="../layouts/layout-vertical-1-column.html">1 Column</a>
                </li>
                <li class="submenu-item">
                  <a href="../layouts/layout-vertical-navbar.html">Vertical Navbar</a>
                </li>
                <li class="submenu-item">
                  <a href="../layouts/layout-rtl.html">RTL Layout</a>
                </li>
                <li class="submenu-item">
                  <a href="../layouts/layout-horizontal.html">Horizontal Menu</a>
                </li>
              </ul>
            </li>

            <li class="sidebar-item  mb-4">
              <span class="ml-4 textoSidebar">Forms & Tables</span>
            </li>

            <li class="w-60 sidebar-item has-sub">
              <a href="#" class="sidebar-link">
                <svg class="bi" width="15" height="40" fill="currentColor">
                  <use xlink:href="../elementos/herramientas/images/icons.svg#hexagon-fill" />
                </svg> <span class="textoSidebar">Form Elements</span>
              </a>
              <ul class="submenu textoSidebar ml-8">
                <li class="submenu-item">
                  <a href="../formtables/form-elements/form-element-input.html">Input</a>
                </li>
                <li class="submenu-item">
                  <a href="../formtables/form-elements/form-element-input-group.html">Input Group</a>
                </li>
                <li class="submenu-item">
                  <a href="../formtables/form-elements/form-element-select.html">Select</a>
                </li>
                <li class="submenu-item">
                  <a href="../formtables/form-elements/form-element-radio.html">Radio</a>
                </li>
                <li class="submenu-item">
                  <a href="../formtables/form-elements/form-element-checkbox.html">Checkbox</a>
                </li>
                <li class="submenu-item">
                  <a href="../formtables/form-elements/form-element-textarea.html">Textarea</a>
                </li>
              </ul>
            </li>

            <li class="w-60 sidebar-item ">
              <a href="../formtables/form-layout.html" class="sidebar-link">
                <svg class="bi" width="15" height="40" fill="currentColor">
                  <use xlink:href="../elementos/herramientas/images/icons.svg#file-earmark-medical-fill" />
                </svg> <span class="textoSidebar">Form Layout</span>
              </a>
            </li>

            <li class="w-60 sidebar-item has-sub">
              <a href="#" class="sidebar-link">
                <svg class="bi" width="15" height="40" fill="currentColor">
                  <use xlink:href="../elementos/herramientas/images/icons.svg#journal-check" />
                </svg> <span class="textoSidebar">Form Validation</span>
              </a>
              <ul class="submenu textoSidebar ml-8">
                <li class="submenu-item">
                  <a href="../formtables/form-validation-parsley.html">Parsley</a>
                </li>
              </ul>
            </li>

            <li class="w-60 sidebar-item has-sub">
              <a href="#" class="sidebar-link">
                <svg class="bi" width="15" height="40" fill="currentColor">
                  <use xlink:href="../elementos/herramientas/images/icons.svg#pen-fill" />
                </svg> <span class="textoSidebar">Form Editor</span>
              </a>
              <ul class="submenu textoSidebar ml-8">
                <li class="submenu-item">
                  <a href="../formtables/form-editor/form-editor-quill.html">Quill</a>
                </li>
                <li class="submenu-item">
                  <a href="../formtables/form-editor/form-editor-ckeditor.html">CKEditor</a>
                </li>
                <li class="submenu-item">
                  <a href="../formtables/form-editor/form-editor-summernote.html">Summernote</a>
                </li>
                <li class="submenu-item">
                  <a href="../formtables/form-editor/form-editor-tinymce.html">TinyMCE</a>
                </li>
              </ul>
            </li>

            <li class="w-60 sidebar-item ">
              <a href="../formtables/table.html" class="sidebar-link">
                <svg class="bi" width="15" height="40" fill="currentColor">
                  <use xlink:href="../elementos/herramientas/images/icons.svg#grid-1x2-fill" />
                </svg> <span class="textoSidebar">Table</span>
              </a>
            </li>

            <li class="w-60 sidebar-item has-sub mb-6">
              <a href="#" class="sidebar-link">
                <svg class="bi" width="15" height="40" fill="currentColor">
                  <use xlink:href="../elementos/herramientas/images/icons.svg#file-earmark-spreadsheet-fill" />
                </svg> <span class="textoSidebar">Datatables</span>
              </a>
              <ul class="submenu textoSidebar ml-8">
                <li class="submenu-item">
                  <a href="../formtables/datatables/table-datatable.html">Datatable</a>
                </li>
                <li class="submenu-item">
                  <a href="../formtables/datatables/table-datatable-jquery.html">Datatable (jQuery)</a>
                </li>
              </ul>
            </li>

            <li class="sidebar-item  mb-4">
              <span class="ml-4 textoSidebar">Extra UI</span>
            </li>

            <li class="w-60 sidebar-item has-sub">
              <a href="#" class="sidebar-link">
                <svg class="bi" width="15" height="40" fill="currentColor">
                  <use xlink:href="../elementos/herramientas/images/icons.svg#pentagon-fill" />
                </svg> <span class="textoSidebar">Widgets</span>
              </a>
              <ul class="submenu textoSidebar ml-8">
                <li class="submenu-item">
                  <a href="../widgets/ui-widgets-chatbox.html">Chatbox</a>
                </li>
                <li class="submenu-item">
                  <a href="../widgets/ui-widgets-pricing.html">Pricing</a>
                </li>
                <li class="submenu-item">
                  <a href="../widgets/ui-widgets-to-do-list.html">To-do list</a>
                </li>
              </ul>
            </li>

            <li class="w-60 sidebar-item has-sub">
              <a href="#" class="sidebar-link">
                <svg class="bi" width="15" height="40" fill="currentColor">
                  <use xlink:href="../elementos/herramientas/images/icons.svg#egg-fill" />
                </svg> <span class="textoSidebar">Icons</span>
              </a>
              <ul class="submenu textoSidebar ml-8">
                <li class="submenu-item">
                  <a href="../icons/ui-icons-tailwind-icons.html">Tailwind Icons</a>
                </li>
                <li class="submenu-item">
                  <a href="../icons/ui-icons-fontawesome.html">Fontawesome</a>
                </li>
                <li class="submenu-item">
                  <a href="../icons/ui-icons-dripicons.html">Dripicons</a>
                </li>
              </ul>
            </li>

            <li class="w-60 sidebar-item has-sub">
              <a href="#" class="sidebar-link">
                <svg class="bi" width="15" height="40" fill="currentColor">
                  <use xlink:href="../elementos/herramientas/images/icons.svg#bar-chart-fill" />
                </svg> <span class="textoSidebar">Charts</span>
              </a>
              <ul class="submenu textoSidebar ml-8">
                <li class="submenu-item">
                  <a href="../charts/ui-chart-chartjs.html">ChartJS</a>
                </li>
                <li class="submenu-item">
                  <a href="../charts/ui-chart-apexcharts.html">Apexcharts</a>
                </li>
              </ul>
            </li>

            <li class="w-60 sidebar-item ">
              <a href="../fileUploader/ui-file-uploader.html" class="sidebar-link">
                <svg class="bi" width="15" height="40" fill="currentColor">
                  <use xlink:href="../elementos/herramientas/images/icons.svg#cloud-arrow-up-fill" />
                </svg> <span class="textoSidebar">File Uploader</span>
              </a>
            </li>

            <li class="w-60 sidebar-item has-sub">
              <a href="#" class="sidebar-link">
                <svg class="bi" width="15" height="40" fill="currentColor">
                  <use xlink:href="../elementos/herramientas/images/icons.svg#map-fill" />
                </svg> <span class="textoSidebar">Maps</span>
              </a>
              <ul class="submenu textoSidebar ml-8">
                <li class="submenu-item">
                  <a href="../maps/ui-map-google-map.html">Google Map</a>
                </li>
                <li class="submenu-item">
                  <a href="../maps/ui-map-jsvectormap.html">JS Vector Map</a>
                </li>
              </ul>
            </li>

            <li class="w-60 hs-accordion-group mb-7">

              <div class=" submenu-item hs-accordion" id="hs-basic-heading-1">

                <button type="button"
                  class="hover:dark:bg-gray-700 hover:bg-gray-200 mt-3 ml-4 flex textoSidebar hs-accordion-toggle "
                  aria-controls="hs-basic-collapse-1"> <svg class="mr-4 bi" width="15" height="20" fill="currentColor">
                    <use xlink:href="../elementos/herramientas/images/icons.svg#three-dots" />
                  </svg>
                  <span class="">Multi-level Menu</span>
                  <svg
                    class="ml-8 mt-1 hs-accordion-active:block hs-accordion-active:group-hover:text-blue-600 block w-3 h-3 text-gray-400 dark:text-gray-500"
                    width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                  </svg>

                </button>

                <div id="hs-basic-collapse-1"
                  class="hidden hs-accordion-content overflow-hidden transition-[height] duration-300"
                  aria-labelledby="hs-basic-heading-1">
                  <div class=" p-5 content-wrapper">
                    <ul class=" textoSidebar ml-8">
                      <li class="">
                        <div class="hs-accordion-group">
                          <div class="hs-accordion" id="hs-basic-heading-1">

                            <button type="button"
                              class="hover:dark:bg-gray-700 hover:bg-gray-200 ml-3 flex textoSidebar hs-accordion-toggle"
                              aria-controls="hs-basic-collapse-1">
                              <span class="text-sm">First Level</span>
                              <svg
                                class="ml-16 mt-1 hs-accordion-active:block hs-accordion-active:group-hover:text-blue-600 block w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-500"
                                width="16" height="16" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5"
                                  stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                              </svg>
                            </button>

                            <div id="hs-basic-collapse-1"
                              class="hidden hs-accordion-content overflow-hidden transition-[height] duration-300 "
                              aria-labelledby="hs-basic-heading-1">
                              <div class=" p-5 content-wrapper">
                                <ul class=" textoSidebar ">
                                  <li
                                    class="hover:translate-x-2 duration-300 ease-in-out hover:text-blue-800 hover:dark:text-white text-sm ml-5">
                                    <a href="../multiLevelMenu/ui-multi-level-menu.html">Second Level</a>
                                  </li>
                                  <li
                                    class="hover:translate-x-2 duration-300 ease-in-out hover:text-blue-800 hover:dark:text-white text-sm ml-5 mt-4 hs-accordion-toggle">
                                    <a href="#">Second Level Menu</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>

                          <div class="hs-accordion" id="hs-basic-heading-2">

                            <button type="button"
                              class="hover:dark:bg-gray-700 hover:bg-gray-200 flex mt-6 ml-3 textoSidebar hs-accordion-toggle "
                              aria-controls="hs-basic-collapse-2">
                              <span class="text-sm">Another Menu</span>
                              <svg
                                class="ml-10 mt-1 hs-accordion-active:block hs-accordion-active:group-hover:text-blue-600 block w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-500"
                                width="16" height="16" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5"
                                  stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                              </svg>
                            </button>

                            <div id="hs-basic-collapse-2"
                              class="hidden hs-accordion-content overflow-hidden transition-[height] duration-300 "
                              aria-labelledby="hs-basic-heading-2">
                              <div class=" p-5 content-wrapper">
                                <ul class=" textoSidebar">
                                  <li
                                    class="hover:translate-x-2 duration-300 ease-in-out hover:text-blue-800 hover:dark:text-white hs-accordion-toggle text-sm ml-5">
                                    <a href="#">Second Level Menu</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>

            <li class="sidebar-item  mb-4">
              <span class="ml-4 textoSidebar">Pages</span>
            </li>

            <li class="w-60 sidebar-item ">
              <a href="../email-application/pages-email.html" class="sidebar-link">
                <svg class="bi" width="15" height="40" fill="currentColor">
                  <use xlink:href="../elementos/herramientas/images/icons.svg#envelope-fill" />
                </svg> <span class="textoSidebar">Email Application</span>
              </a>
            </li>

            <li class="w-60 sidebar-item ">
              <a href="../chat-application/pages-chat.html" class="sidebar-link ">
                <svg class="bi" width="15" height="40" fill="currentColor">
                  <use xlink:href="../elementos/herramientas/images/icons.svg#chat-dots-fill" />
                </svg> <span class="textoSidebar">Chat Application</span>
              </a>
              <ul class="submenu textoSidebar ml-8">
              </ul>
            </li>

            <li class="w-60 sidebar-item ">
              <a href="../photo-gallery/pages-photo.html" class="sidebar-link">
                <svg class="bi" width="15" height="40" fill="currentColor">
                  <use xlink:href="../elementos/herramientas/images/icons.svg#image-fill" />
                </svg> <span class="textoSidebar">Photo Gallery</span>
              </a>
            </li>

            <li class="w-60 sidebar-item  ">
              <a href="../checkout-page/pages-checkout.html" class="sidebar-link ">
                <svg class="bi" width="15" height="40" fill="currentColor">
                  <use xlink:href="../elementos/herramientas/images/icons.svg#basket-fill" />
                </svg> <span class="textoSidebar">Checkout Page</span>
              </a>
            </li>

            <li class="w-60 sidebar-item has-sub">
              <a href="#" class="sidebar-link">
                <svg class="bi" width="15" height="40" fill="currentColor">
                  <use xlink:href="../elementos/herramientas/images/icons.svg#person-badge-fill" />
                </svg> <span class="textoSidebar">Authentication</span>
              </a>
              <ul class="submenu textoSidebar ml-8">
                <li class="submenu-item">
                  <a href="auth/auth-login.html">Login</a>
                </li>
                <li class="submenu-item">
                  <a href="auth/auth-register.html">Register</a>
                </li>
                <li class="submenu-item">
                  <a href="auth/auth-forgot-password.html">Forgot Password</a>
                </li>
              </ul>
            </li>

            <li class="w-60 sidebar-item has-sub mb-6">
              <a href="#" class="sidebar-link">
                <svg class="bi" width="15" height="40" fill="currentColor">
                  <use xlink:href="../elementos/herramientas/images/icons.svg#x-octagon-fill" />
                </svg> <span class="textoSidebar">Errors</span>
              </a>
              <ul class="submenu textoSidebar ml-8">
                <li class="submenu-item">
                  <a href="errors/error-403.html">403</a>
                </li>
                <li class="submenu-item">
                  <a href="errors/error-404.html">404</a>
                </li>
                <li class="submenu-item">
                  <a href="errors/error-500.html">500</a>
                </li>
              </ul>
            </li>

            <li class="sidebar-item  mb-4">
              <span class="ml-4 textoSidebar">Raise Support</span>
            </li>

            <li class="w-60 sidebar-item ">
              <a href="https://zuramai.github.io/mazer/docs/" class="sidebar-link">
                <svg class="bi" width="15" height="40" fill="currentColor">
                  <use xlink:href="../elementos/herramientas/images/icons.svg#life-preserver" />
                </svg> <span class="textoSidebar">Documentation</span>
              </a>
            </li>

            <li class="w-60 sidebar-item">
              <a href="https://github.com/zuramai/mazer/blob/main/CONTRIBUTING.md" class="sidebar-link">
                <svg class="bi" width="15" height="40" fill="currentColor">
                  <use xlink:href="../elementos/herramientas/images/icons.svg#puzzle" />
                </svg> <span class="textoSidebar">Contribute</span>
              </a>
            </li>

            <li class="w-60 sidebar-item mb-4">
              <a href="https://github.com/zuramai/mazer#donation" class="sidebar-link">
                <svg class="bi" width="15" height="40" fill="currentColor">
                  <use xlink:href="../elementos/herramientas/images/icons.svg#cash" />
                </svg> <span class="textoSidebar">Donate</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="main" class="main ml-4 mod:ml-80">
      <button id="sidebar-toggle" class="  text-white  rounded ml-4 mt-8 mod:hidden ">

        <svg class="bi" width="28" height="40" fill="currentColor" style="fill: blue;">
          <use xlink:href="../elementos/herramientas/images/icons.svg#justify" />
        </svg>

      </button>

      <div class="flex flex-col md:flex-row justify-between items-start md:items-center">
        <div class="md:order-2 ">
          <nav>
            <ol
              class="flex flex-nowrap flex-wrap p-0 mt-1 mb-4 lg:mb-8 ml-4 text-base bg-white rounded-none bg-opacity-[0] md:mr-8  "
              style="list-style: none;">
              <li class="text-left" style="list-style: outside none none;">
                <a href="../index.html" class="text-blue-700 cursor-pointer"
                  style=" list-style: outside none none; font-family: 'Nunito';">Dashboard</a>
              </li>
              <li class="pl-2 text-left text-gray-500">
                / Accordion
              </li>
            </ol>
          </nav>
        </div>

        <div class=" order-1 mb-4 md:mb-0 md:order-1 w-6/12">
          <h3 class="textoCSS mt-2 mb-1 ml-4 mod:ml-3 text-3xl text-white xl:text-3xl"
            style="line-height: 1.2; font-family: 'Nunito'; font-weight: 600;">
            Accordion
          </h3>
          <p class="ml-4 mt-2 text-slate-400 texto2CSS mod:ml-3 mod:mt-3 ">
            A pretty helpful component to show organized information to the user.
          </p>
        </div>
      </div>

      <div class="main-container">
        <div class=" flex flex-wrap" style="font-family: 'Nunito';">

          <div class="flex-none px-3 pr-5 pl-4 mt-4 w-full max-w-full leading-6 md:w-1/2 md:flex-none text-slate-300">
            <div class="flex flex-col mb-8 min-w-0 break-words bg-clip-border entrada"
              style="min-height: 325px; border-radius: 11.2px;">
              <div class="accordion-group" data-type="default">

                <div class="p-6 mb-0 " style="border-radius: 10.2px 10.2px 0px 0px;">
                  <h4 class="mt-0 mb-1 text-xl font-bold text-white xl:text-xl textoCSS">
                    Default
                  </h4>
                </div>
                <div class="flex-auto px-6 pt-0 pb-6 text-slate-300">
                  <p class="mt-0 mb-4 interior" style="font-family: 'Nunito';">
                    Click the accordions below to expand/collapse the accordion content.
                  </p>

                  <div class="hs-accordion-group">

                    <div class="hs-accordion active " id="hs-basic-heading-1">

                      <button type="button"
                        class="hs-accordion-active:text-blue-600 hs-accordion-active:bg-blue-50  hs-accordion-toggle active flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 rounded-t-md focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800  dark:border-none dark:text-gray-500 ">
                        <span>Accordion Item #1</span>
                        <svg
                          class="hs-accordion-active:hidden hs-accordion-active:text-blue-600 hs-accordion-active:group-hover:text-blue-600 block w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
                          width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                        </svg>
                        <svg
                          class="hs-accordion-active:block hs-accordion-active:text-blue-600 hs-accordion-active:group-hover:text-blue-600 hidden w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
                          width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                        </svg>

                      </button>

                      <div id="hs-basic-collapse-one"
                        class=" hs-accordion-content  overflow-hidden transition-[height] duration-300 ">
                        <div class=" p-5  border border-gray-200 dark:border-none content-wrapper">
                          <p class="interior">
                            <strong style="font-weight: bolder;">This is the first item's
                              accordion body.</strong>
                            It is shown by default, until the collapse plugin adds the
                            appropriate classes that we use to style each element. These
                            classes control the overall appearance, as well as the showing and
                            hiding via CSS transitions. You can modify any of this with custom
                            CSS or overriding our default variables. It's also worth noting
                            that just about any HTML can go within the
                            <code class="font-mono text-sm leading-5 text-pink-600">hs-basic-heading-1</code>,
                            though the
                            transition does limit overflow.
                          </p>
                        </div>
                      </div>

                    </div>

                    <div class="hs-accordion" id="hs-basic-heading-2">

                      <button type="button"
                        class="hs-accordion-active:text-blue-600 hs-accordion-active:bg-blue-50  hs-accordion-toggle active flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 rounded-t-md focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800  dark:border-none dark:text-gray-500 "
                        aria-controls="hs-basic-collapse-two">
                        <span>Accordion Item #2</span>
                        <svg
                          class="hs-accordion-active:hidden hs-accordion-active:text-blue-600 hs-accordion-active:group-hover:text-blue-600 block w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
                          width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                        </svg>
                        <svg
                          class="hs-accordion-active:block hs-accordion-active:text-blue-600 hs-accordion-active:group-hover:text-blue-600 hidden w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
                          width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                        </svg>
                      </button>
                      <div id="hs-basic-collapse-two"
                        class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
                        aria-labelledby="hs-basic-heading-2">

                        <div class=" p-5  border border-gray-200 dark:border-none content-wrapper">
                          <p class="interior">
                            <strong style="font-weight: bolder;">This is the second item's
                              accordion body.</strong>
                            It is shown by default, until the collapse plugin adds the
                            appropriate classes that we use to style each element. These
                            classes control the overall appearance, as well as the showing and
                            hiding via CSS transitions. You can modify any of this with custom
                            CSS or overriding our default variables. It's also worth noting
                            that just about any HTML can go within the
                            <code class="font-mono text-sm leading-5 text-pink-600">hs-basic-heading-2</code>,
                            though the
                            transition does limit overflow.
                          </p>
                        </div>
                      </div>

                    </div>

                    <div class="hs-accordion" id="hs-basic-heading-3">

                      <button type="button"
                        class="hs-accordion-active:text-blue-600 hs-accordion-active:bg-blue-50  hs-accordion-toggle active flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border  border-gray-200 rounded-t-md focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800  dark:border-none dark:text-gray-500 "
                        aria-controls="hs-basic-collapse-3">
                        <span>Accordion Item #3</span>
                        <svg
                          class="hs-accordion-active:hidden hs-accordion-active:text-blue-600 hs-accordion-active:group-hover:text-blue-600 block w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
                          width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                        </svg>
                        <svg
                          class="hs-accordion-active:block hs-accordion-active:text-blue-600 hs-accordion-active:group-hover:text-blue-600 hidden w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
                          width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                        </svg>
                      </button>
                      <div id="hs-basic-collapse-3"
                        class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
                        aria-labelledby="hs-basic-heading-3">
                        <div class=" p-5  border border-gray-200 dark:border-none content-wrapper">
                          <p class="interior">
                            <strong style="font-weight: bolder;">This is the third item's
                              accordion body.</strong>
                            It is shown by default, until the collapse plugin adds the
                            appropriate classes that we use to style each element. These
                            classes control the overall appearance, as well as the showing and
                            hiding via CSS transitions. You can modify any of this with custom
                            CSS or overriding our default variables. It's also worth noting
                            that just about any HTML can go within the
                            <code class="font-mono text-sm leading-5 text-pink-600">hs-basic-heading-3</code>,
                            though the
                            transition does limit overflow.
                          </p>
                        </div>
                      </div>

                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="mt-4 flex-none pr-8 pl-1 w-full max-w-full leading-6 md:w-1/2 md:flex-none text-slate-300"
            data-type="flush">
            <div class="flex flex-col mb-8 min-w-0 break-words bg-clip-border entrada"
              style="min-height: 348.21px; border-radius: 11.2px;">
              <div class="p-6 mb-0 " style="border-radius: 10.2px 10.2px 0px 0px;">
                <h4 class="mt-0 mb-1 text-xl font-bold text-white mod:text-xl textoCSS" style="font-family: 'Nunito';">
                  Flush
                </h4>
              </div>
              <div class="flex-auto px-6 pt-0 pb-6 text-slate-300">
                <p class="mt-0 mb-4 interior">
                  Add
                  <code class="font-mono text-sm leading-5 text-pink-600">hs-accordion</code>
                  to remove the default background-color, some borders, and some rounded
                  corners to render accordions edge-to-edge with their parent container.
                </p>

                <div class="hs-accordion-group">

                  <div class="hs-accordion " id="hs-basic-heading-4">

                    <button type="button"
                      class="hs-accordion-active:text-blue-600 hs-accordion-active:bg-blue-50  hs-accordion-toggle active flex items-center justify-between w-full p-5 font-medium text-left text-gray-500  rounded-t-md focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800  dark:border-none dark:text-gray-500 "
                      aria-controls="hs-basic-collapse-4">
                      <span>Accordion Item #1</span>
                      <svg
                        class="hs-accordion-active:hidden hs-accordion-active:text-blue-600 hs-accordion-active:group-hover:text-blue-600 block w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
                        width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                      </svg>
                      <svg
                        class="hs-accordion-active:block hs-accordion-active:text-blue-600 hs-accordion-active:group-hover:text-blue-600 hidden w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
                        width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                      </svg>
                    </button>

                    <div id="hs-basic-collapse-4"
                      class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
                      aria-labelledby="hs-basic-heading-4">

                      <div class="p-5 border border-b-0 border-gray-200 dark:border-none">
                        <p class="interior">
                          Placeholder content for this accordion, which is intended to demonstrate the
                          <code class="font-mono text-sm leading-5 text-pink-600">hs-basic-heading-4</code>,
                          class. This is the first item's accordion body.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="hs-accordion " id="hs-basic-heading-5">

                    <button type="button"
                      class="hs-accordion-active:text-blue-600 hs-accordion-active:bg-blue-50  hs-accordion-toggle active flex items-center justify-between w-full p-5 font-medium text-left text-gray-500  border-t border-gray-200 rounded-t-md focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800  dark:border-none dark:text-gray-500 "
                      aria-controls="hs-basic-collapse-5">
                      <span>Accordion Item #2</span>
                      <svg
                        class="hs-accordion-active:hidden hs-accordion-active:text-blue-600 hs-accordion-active:group-hover:text-blue-600 block w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
                        width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                      </svg>
                      <svg
                        class="hs-accordion-active:block hs-accordion-active:text-blue-600 hs-accordion-active:group-hover:text-blue-600 hidden w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
                        width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                      </svg>
                    </button>

                    <div id="hs-basic-collapse-5"
                      class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
                      aria-labelledby="hs-basic-heading-5">
                      <div class="p-5 border border-b-0 border-gray-200 dark:border-none">
                        <p class="interior">
                          Placeholder content for this accordion, which is intended to demonstrate the
                          <code class="font-mono text-sm leading-5 text-pink-600">hs-basic-heading-5</code>,
                          class. This is the second item's accordion body. Let's imagine this being filled with some
                          actual content.
                        </p>
                      </div>
                    </div>

                  </div>

                  <div class="hs-accordion " id="hs-basic-heading-6">

                    <button type="button"
                      class="hs-accordion-active:text-blue-600 hs-accordion-active:bg-blue-50  hs-accordion-toggle active flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border-t border-gray-200  rounded-t-md focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800  dark:border-none dark:text-gray-500 "
                      aria-controls="hs-basic-collapse-6">
                      <span>Accordion Item #3</span>
                      <svg
                        class="hs-accordion-active:hidden hs-accordion-active:text-blue-600 hs-accordion-active:group-hover:text-blue-600 block w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
                        width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                      </svg>
                      <svg
                        class="hs-accordion-active:block hs-accordion-active:text-blue-600 hs-accordion-active:group-hover:text-blue-600 hidden w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
                        width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                      </svg>
                    </button>

                    <div id="hs-basic-collapse-6"
                      class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
                      aria-labelledby="hs-basic-heading-6">
                      <div class="p-5 border border-b-0 border-gray-200 dark:border-none">
                        <p class="interior">
                          Placeholder content for this accordion, which is intended to demonstrate the
                          <code class="font-mono text-sm leading-5 text-pink-600">hs-basic-heading-6</code>,
                          class. This is the third item's accordion body. Nothing more exciting happening here in terms
                          of
                          content, but just filling up the space to make it look, at least at first glance, a bit more
                          representative of how this would look in a real-world application.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div id="footer" class="block clear-both mb-5 leading-6 text-slate-400" style="font-family: 'Nunito';" data-mb="20">

      <div class="float-left text-slate-400 mb-3">
        <p class="mt-8 ml-4 texto2CSS">2023 © Mazer</p>
      </div>
      <div class=" float-right text-slate-400 mr-8 mb-12 mt-9 ">
        <p class="texto2CSS mt-0">
          Crafted with
          <span class="inline-block text-red-500">
            <svg width="15" height="15" fill="currentColor">
              <use xlink:href="../elementos/herramientas/images/icons.svg#heart-fill" />
            </svg>
          </span>
          by
          <a href="https://saugi.me" class="text-blue-700 cursor-pointer" style="text-decoration: none;">Saugi</a>
        </p>
      </div>
    </div>
  </div>

</body>

</html>