@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-fondo {
    background-color: #f2f7ff;
}

.text-body {
    --bs-text-opacity: 1;
    color: #607080 !important
}

p {
    color: #607080;
}

.svg-color {
    fill: #435ebe;
}

.svg-color:hover {
    fill: #364b98;
}

.link {
    color: #435ebe;
}

.link:hover {
    color: #364b98;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #7c8db5 !important
}

.card {
    background-color: white;
    border: 1px solid white;
    border-radius: .7rem;
    padding: 1.5rem;
}

.light .card {
    background-color: white;
    border: 1px solid white;
    border-radius: .7rem;
    padding: 1.5rem;
}

.dark .card {
    background-color: #1e1e2d;
    border: 1px solid #1e1e2d;
    border-radius: .7rem;
    padding: 1.5rem;
}

.card-title {
    padding-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #25396f;
}

.dark .card-content {
    color: #c2c2d9;
}

.container {
    width: 100%;
    padding-right: calc(.75rem * .5);
    padding-left: calc(.75rem * .5);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
}

code {
    font-family: monospace;
    color: #d639a6;
    font-size: 14px;
    word-wrap: break-word;
}