<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accordion - Mazer Admin Dashboard</title>
    <link href="../../css/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="../elementos/elementos.css" />
    <link
      rel="shortcut icon"
      href="../elementos/herramientas/images/logo/favicon.svg"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="../elementos/herramientas/images/logo/favicon.png"
      type="image/png"
    />
  </head>

  <body>
    <div id="app">
      <div id="sidebar" class="fixed active">
        <div class="sidebar-wrapper active entrada">
          <div class="sidebar-header relative">
            <div class="flex w-60 mt-3 mb-2 items-center">
              <div class="logo">
                <a href="../index.html"
                  ><img
                    src="../elementos/herramientas/images/logo/logo.svg"
                    alt="Logo"
                /></a>
              </div>

              <div class="flex gap-2 items-center mt-1">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  aria-hidden="true"
                  role="img"
                  class="ml-14 textoSidebar iconify iconify--system-uicons sun-color"
                  width="20"
                  height="22"
                  preserveAspectRatio="xMidYMid meet"
                  viewBox="0 0 21 21"
                >
                  <g
                    fill="none"
                    fill-rule="evenodd"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path
                      d="M10.5 14.5c2.219 0 4-1.763 4-3.982a4.003 4.003 0 0 0-4-4.018c-2.219 0-4 1.781-4 4c0 2.219 1.781 4 4 4zM4.136 4.136L5.55 5.55m9.9 9.9l1.414 1.414M1.5 10.5h2m14 0h2M4.135 16.863L5.55 15.45m9.899-9.9l1.414-1.415M10.5 19.5v-2m0-14v-2"
                      opacity=".3"
                    ></path>
                    <g transform="translate(-210 -1)">
                      <path d="M220.5 2.5v2m6.5.5l-1.5 1.5"></path>
                      <circle cx="220.5" cy="11.5" r="4"></circle>
                      <path
                        d="m214 5l1.5 1.5m5 14v-2m6.5-.5l-1.5-1.5M214 18l1.5-1.5m-4-5h2m14 0h2"
                      ></path>
                    </g>
                  </g>
                </svg>

                <div
                  class="relative block mb-2 mt-2 form-switch fs-6"
                  id="theme-toggle"
                >
                  <div id="toggle-button" onclick="toggleTheme()">
                    <div id="sun-moon" class="sun"></div>
                  </div>
                </div>

                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  aria-hidden="true"
                  role="img"
                  class="ml-2 textoSidebar iconify iconify--mdd"
                  width="20"
                  height="20"
                  preserveAspectRatio="xMidYMid meet"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="#607080"
                    d="m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3l3.19.09m3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95l2.06.05m-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31Z"
                  ></path>
                </svg>
              </div>

              <button
                id="sidebar-hide"
                class="sidebar-hide absolute textoSidebar top-2 right-2 bg-transparent border-none p-0 xl:hidden xxl:hidden"
              >
                <svg class="bi mr-4" width="25" height="40" fill="currentColor">
                  <use
                    xlink:href="../elementos/herramientas/images/icons.svg#x"
                  />
                </svg>
              </button>
            </div>
          </div>
          <div class="sidebar-menu">
            <ul class="menu">
              <li class="sidebar-title textoSidebar">Menu</li>

              <li class="sidebar-item">
                <a href="../index.html" class="sidebar-link">
                  <svg class="bi" width="15" height="40" fill="currentColor">
                    <use
                      xlink:href="../elementos/herramientas/images/icons.svg#grid-fill"
                    />
                  </svg>
                  <span class="textoSidebar">Dashboard</span>
                </a>
              </li>

              <li class="w-60 sidebar-item has-sub">
                <a href="#" class="sidebar-link">
                  <svg class="bi" width="15" height="40" fill="currentColor">
                    <use
                      xlink:href="../elementos/herramientas/images/icons.svg#stack"
                    />
                  </svg>
                  <span class="textoSidebar">Components</span>
                </a>
                <ul class="submenu textoSidebar ml-8">
                  <li class="submenu-item">
                    <a href="components/component-accordion.html">Accordion</a>
                  </li>
                  <li class="submenu-item">
                    <a href="components/component-alert.html">Alert</a>
                  </li>
                  <li class="submenu-item">
                    <a href="components/component-badge.html">Badge</a>
                  </li>
                  <li class="submenu-item">
                    <a href="components/component-breadcrumb.html"
                      >Breadcrumb</a
                    >
                  </li>
                  <li class="submenu-item">
                    <a href="components/component-button.html">Button</a>
                  </li>
                  <li class="submenu-item">
                    <a href="components/component-card.html">Card</a>
                  </li>
                  <li class="submenu-item">
                    <a href="components/component-carousel.html">Carousel</a>
                  </li>
                  <li class="submenu-item">
                    <a href="components/component-collapse.html">Collapse</a>
                  </li>
                  <li class="submenu-item">
                    <a href="components/component-dropdown.html">Dropdown</a>
                  </li>
                  <li class="submenu-item">
                    <a href="components/component-list-group.html"
                      >List Group</a
                    >
                  </li>
                  <li class="submenu-item">
                    <a href="components/component-modal.html">Modal</a>
                  </li>
                  <li class="submenu-item">
                    <a href="components/component-navs.html">Navs</a>
                  </li>
                  <li class="submenu-item">
                    <a href="components/component-pagination.html"
                      >Pagination</a
                    >
                  </li>
                  <li class="submenu-item">
                    <a href="components/component-progress.html">Progress</a>
                  </li>
                  <li class="submenu-item">
                    <a href="components/component-spinner.html">Spinner</a>
                  </li>
                  <li class="submenu-item">
                    <a href="components/component-toasts.html">Toasts</a>
                  </li>
                  <li class="submenu-item">
                    <a href="components/component-tooltip.html">Tooltip</a>
                  </li>
                </ul>
              </li>

              <li class="w-60 sidebar-item has-sub">
                <a href="#" class="sidebar-link">
                  <svg class="bi" width="15" height="40" fill="currentColor">
                    <use
                      xlink:href="../elementos/herramientas/images/icons.svg#collection-fill"
                    />
                  </svg>
                  <span class="textoSidebar">Extra Components</span>
                </a>
                <ul class="submenu textoSidebar ml-8">
                  <li class="submenu-item">
                    <a href="extraComponents/extra-component-avatar.html"
                      >Avatar</a
                    >
                  </li>
                  <li class="submenu-item">
                    <a href="extraComponents/extra-component-sweetalert.html"
                      >Sweet Alert</a
                    >
                  </li>
                  <li class="submenu-item">
                    <a href="extraComponents/extra-component-toastify.html"
                      >Toastify</a
                    >
                  </li>
                  <li class="submenu-item">
                    <a href="extraComponents/extra-component-rating.html"
                      >Rating</a
                    >
                  </li>
                  <li class="submenu-item">
                    <a href="extraComponents/extra-component-divider.html"
                      >Divider</a
                    >
                  </li>
                </ul>
              </li>

              <li class="w-60 sidebar-item has-sub active">
                <a href="#" class="sidebar-link">
                  <svg class="bi" width="15" height="40" fill="currentColor">
                    <use
                      xlink:href="../elementos/herramientas/images/icons.svg#grid-1x2-fill"
                    />
                  </svg>
                  <span class="textoSidebar">Layouts</span>
                </a>
                <ul class="submenu textoSidebar ml-8 active">
                  <li class="submenu-item">
                    <a href="layout-default.html">Default Layout</a>
                  </li>
                  <li class="submenu-item">
                    <a href="layout-vertical-1-column.html">1 Column</a>
                  </li>
                  <li class="submenu-item active">
                    <a href="layout-vertical-navbar.html">Vertical Navbar</a>
                  </li>
                  <li class="submenu-item">
                    <a href="layout-rtl.html">RTL Layout</a>
                  </li>
                  <li class="submenu-item">
                    <a href="layout-horizontal.html">Horizontal Menu</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div id="main" class="layout-navbar navbar-fixed textoSidebar">
        <button id="sidebar-toggle" class="rounded m-8 mb-6">
          <svg class="bi svg-color w-7 h-10" height="100%" width="100%">
            <use
              xlink:href="../elementos/herramientas/images/icons.svg#justify"
            />
          </svg>
        </button>

        <!-- <header>
          <nav class="navbar navbar-expand navbar-light navbar-top">
            <div class="container-fluid">
               <a href="#" class="burger-btn d-block">
              <i class="bi bi-justify fs-3"></i>
            </a> 

              <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-0 lg:mb-0">
                  <li class="nav-item dropdown mr-1">
                    <a
                      class="nav-link active dropdown-toggle text-gray-600"
                      href="#"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        strokeWidth="{1.5}"
                        stroke="currentColor"
                        class="w-6 h-6"
                      >
                        <path
                          strokeLinecap="round"
                          strokeLinejoin="round"
                          d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
                        />
                      </svg>
                    </a>
                    <ul
                      class="dropdown-menu dropdown-menu-right"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <li>
                        <h6 class="dropdown-header">Mail</h6>
                      </li>
                      <li><a class="dropdown-item" href="#">No new mail</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown mr-3">
                    <a
                      class="nav-link active dropdown-toggle text-gray-600"
                      href="#"
                      data-bs-toggle="dropdown"
                      data-bs-display="static"
                      aria-expanded="false"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"
                        />
                      </svg>
                      <span class="badge badge-notification bg-danger">7</span>
                    </a>
                    <ul
                      class="dropdown-menu dropdown-menu-right notification-dropdown"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <li class="dropdown-header">
                        <h6>Notifications</h6>
                      </li>
                      <li class="dropdown-item notification-item">
                        <a class="flex items-center" href="#">
                          <div class="notification-icon bg-primary">
                            <svg
                              version="1.1"
                              id="Capa_1"
                              xmlns="http://www.w3.org/2000/svg"
                              xmlns:xlink="http://www.w3.org/1999/xlink"
                              x="0px"
                              y="0px"
                              width="485.213px"
                              height="485.212px"
                              viewBox="0 0 485.213 485.212"
                              style="enable-background: new 0 0 485.213 485.212"
                              xml:space="preserve"
                            >
                              <g>
                                <g>
                                  <g>
                                    <polygon
                                      points="424.562,363.906 172.036,363.906 65.893,121.304 0.001,121.304 0.001,90.978 85.737,90.978 191.876,333.584 424.562,333.584"
                                    />
                                  </g>
                                  <path
                                    d="M272.934,439.727c0,25.109-20.381,45.485-45.49,45.485c-25.127,0-45.488-20.376-45.488-45.485 c0-25.118,20.36-45.49,45.488-45.49C252.553,394.237,272.934,414.609,272.934,439.727z"
                                  />
                                  <path
                                    d="M424.562,439.727c0,25.109-20.376,45.485-45.485,45.485c-25.118,0-45.49-20.376-45.49-45.485 c0-25.118,20.372-45.49,45.49-45.49C404.187,394.237,424.562,414.609,424.562,439.727z"
                                  />
                                  <path
                                    d="M379.077,242.606c-59.234,0-109.256-38.144-128.088-90.978h-99.36l60.654,151.629h212.279l35.008-87.482 C436.944,232.42,409.255,242.606,379.077,242.606z"
                                  />
                                  <g>
                                    <path
                                      d="M379.077,0c-58.609,0-106.144,47.532-106.144,106.141c0,58.606,47.534,106.141,106.144,106.141 c58.604,0,106.135-47.534,106.135-106.141C485.212,47.532,437.682,0,379.077,0z M362.995,159.742l-21.445-21.438l-32.161-32.163 L330.834,84.7l32.161,32.161l64.326-64.321l21.436,21.44L362.995,159.742z"
                                    />
                                  </g>
                                </g>
                              </g>
                            </svg>
                          </div>
                          <div class="notification-text ml-16">
                            <p class="notification-title font-bold">
                              Successfully check out
                            </p>
                            <p class="notification-subtitle font-thin text-xs">
                              Order ID #256
                            </p>
                          </div>
                        </a>
                      </li>
                      <li class="dropdown-item notification-item">
                        <a class="flex items-center" href="#">
                          <div class="notification-icon bg-success">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="554.625px" height="554.625px" viewBox="0 0 554.625 554.625" style="enable-background: new 0 0 554.625 554.625" xml:space="preserve"
                            >
                              <g>
                                <g>
                                  <path d="M430.312,355.725V143.438v-9.562L315.562,0H306H105.188c-21.038,0-38.25,17.212-38.25,38.25v439.875 c0,21.037,17.212,38.25,38.25,38.25h196.987c19.125,22.95,47.812,38.25,80.325,38.25c57.375,0,105.188-47.812,105.188-105.188 C487.688,409.275,464.737,372.938,430.312,355.725z M315.562,28.688l89.888,105.188h-70.763c-9.562,0-19.125-9.562-19.125-19.125 V28.688z M105.188,497.25c-9.562,0-19.125-7.65-19.125-19.125V38.25c0-9.562,7.65-19.125,19.125-19.125h191.25v95.625 c0,21.038,17.213,38.25,38.25,38.25h76.5v195.075c-9.562-1.913-19.125-3.825-28.688-3.825 c-57.375,0-105.188,47.812-105.188,105.188c0,17.213,3.825,32.513,11.475,47.812H105.188z M382.5,535.5 c-47.812,0-86.062-38.25-86.062-86.062s38.25-86.062,86.062-86.062s86.062,38.25,86.062,86.062S430.312,535.5,382.5,535.5z"/>
                                  <polygon points="432.225,415.013 372.938,474.3 342.338,443.7 327.037,457.088 372.938,501.075 447.525,428.4"/>
                                </g>
                              </g>
                            </svg>
                          </div>
                          <div class="notification-text ml-16">
                            <p class="notification-title font-bold">
                              Homework submitted
                            </p>
                            <p class="notification-subtitle font-thin text-xs">
                              Algebra math homework
                            </p>
                          </div>
                        </a>
                      </li>
                      <li>
                        <p class="text-center py-2 mb-0">
                          <a href="#">See all notification</a>
                        </p>
                      </li>
                    </ul>
                  </li>
                </ul>
                <div class="dropdown">
                  <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="user-menu flex">
                      <div class="user-name text-right mr-3">
                        <h6 class="mb-0 text-gray-600">John Ducky</h6>
                        <p class="mb-0 text-xs text-gray-600">Administrator</p>
                      </div>
                      <div class="user-img flex items-center">
                        <div class="avatar avatar-md">
                          <img src="../elementos/herramientas/images/faces/1.jpg" />
                        </div>
                      </div>
                    </div>
                  </a>
                  <ul
                    class="dropdown-menu dropdown-menu-right"
                    aria-labelledby="dropdownMenuButton"
                    style="min-width: 11rem"
                  >
                    <li>
                      <h6 class="dropdown-header">Hello, John!</h6>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"
                        ><i class="icon-mid bi bi-person mr-2"></i> My
                        Profile</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"
                        ><i class="icon-mid bi bi-gear mr-2"></i> Settings</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"
                        ><i class="icon-mid bi bi-wallet mr-2"></i> Wallet</a
                      >
                    </li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"
                        ><i class="icon-mid bi bi-box-arrow-left mr-2"></i>
                        Logout</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </header> -->

        <div class="p-8 pt-8 xl:p-8 xxl:p-8">
          <div>
            <div>
              <div class="grid grid-cols-12">
                <div class="mb-6 col-span-12 md:col-span-6 md:order-2 order-1">
                  <nav class="float-left lg:float-right">
                    <ol class="text-body flex">
                      <li class="link">
                        <a href="../index.html">Dashboard</a>
                      </li>
                      <li class="pl-2">/ Layout Vertical Navbar</li>
                    </ol>
                  </nav>
                </div>
                <div class="col-span-12 md:col-span-6 md:order-1 order-2 mb-4">
                  <h3
                    class="text-2xl xl:text-3xl xxl:text-3xl leading-5 mb-4 log"
                  >
                    Vertical Layout with Navbar
                  </h3>
                  <p class="text-subtitle text-muted">
                    Navbar will appear on the top of the page.
                  </p>
                </div>
              </div>
              <section>
                <div class="card">
                  <div>
                    <h4 class="card-title log">About Vertical Navbar</h4>
                  </div>
                  <div class="leading-7">
                    <p class="card-content">
                      Vertical Navbar is a layout option that you can use with
                      Mazer.
                    </p>
                    <p class="card-content mt-4">
                      In case you want the navbar to be sticky on top while
                      scrolling, add
                      <code>.navbar-fixed</code>
                      class alongside with <code>.layout-navbar</code>
                      class.
                    </p>
                  </div>
                </div>
                <div class="card mt-8">
                  <div>
                    <h4 class="card-title log">Dummy Text</h4>
                  </div>
                  <div class="leading-7">
                    <p class="card-content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      In mollis tincidunt tempus. Duis vitae facilisis enim, at
                      rutrum lacus. Nam at nisl ut ex egestas placerat sodales
                      id quam. Aenean sit amet nibh quis lacus pellentesque
                      venenatis vitae at justo. Orci varius natoque penatibus et
                      magnis dis parturient montes, nascetur ridiculus mus.
                      Suspendisse venenatis tincidunt odio ut rutrum. Maecenas
                      ut urna venenatis, dapibus tortor sed, ultrices justo.
                      Phasellus scelerisque, nibh quis gravida venenatis, nibh
                      mi lacinia est, et porta purus nisi eget nibh. Fusce
                      pretium vestibulum sagittis. Donec sodales velit cursus
                      convallis sollicitudin. Nunc vel scelerisque elit, eget
                      facilisis tellus. Donec id molestie ipsum. Nunc tincidunt
                      tellus sed felis vulputate euismod.
                    </p>
                    <p class="card-content mt-4">
                      Proin accumsan nec arcu sit amet volutpat. Proin non risus
                      luctus, tempus quam quis, volutpat orci. Phasellus commodo
                      arcu dui, ut convallis quam sodales maximus. Aenean
                      sollicitudin massa a quam fermentum, et efficitur metus
                      convallis. Curabitur nec laoreet ipsum, eu congue sem.
                      Nunc pellentesque quis erat at gravida. Vestibulum dapibus
                      efficitur felis, vel luctus libero congue eget. Donec
                      mollis pellentesque arcu, eu commodo nunc porta sit amet.
                      In commodo augue id mauris tempor, sed dignissim nulla
                      facilisis. Ut non mattis justo, ut placerat justo.
                      Vestibulum scelerisque cursus facilisis. Suspendisse velit
                      justo, scelerisque ac ultrices eu, consectetur ac odio.
                    </p>
                    <p class="card-content mt-4">
                      In pharetra quam vel lobortis fermentum. Nulla vel risus
                      ut sapien porttitor volutpat eu ac lorem. Vestibulum porta
                      elit magna, ut ultrices sem fermentum ut. Vestibulum
                      blandit eros ut imperdiet porttitor. Pellentesque tempus
                      nunc sed augue auctor eleifend. Sed nisi sem, lobortis
                      eget faucibus placerat, hendrerit vitae elit. Vestibulum
                      elit orci, pretium vel libero at, imperdiet congue lectus.
                      Praesent rutrum id turpis non aliquam. Cras dignissim,
                      metus vitae aliquam faucibus, elit augue dignissim nulla,
                      bibendum consectetur leo libero a tortor. Vestibulum non
                      tincidunt nibh. Ut imperdiet elit vel vehicula ultricies.
                      Nulla maximus justo sit amet fringilla laoreet. Aliquam
                      malesuada diam in augue mattis aliquam. Pellentesque id
                      eros dignissim, dapibus sem ac, molestie dolor. Mauris
                      purus lacus, tempor sit amet vestibulum vitae, ultrices eu
                      urna.
                    </p>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <footer class="pt-16">
            <div>
              <div class="float-left">
                <p class="text-muted">2023 &copy; Mazer</p>
              </div>
              <div class="float-right">
                <p class="text-muted">
                  Crafted with
                  <span class="text-center">
                    <svg
                      class="w-5 inline-block"
                      fill="#dc3545"
                      height="100%"
                      style="enable-background: new 0 0 512 512"
                      version="1.1"
                      viewBox="0 0 512 512"
                      width="100%"
                      xml:space="preserve"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                      <g
                        id="_x31_66_x2C__Heart_x2C__Love_x2C__Like_x2C__Twitter"
                      >
                        <g>
                          <path
                            d="M365.4,59.628c60.56,0,109.6,49.03,109.6,109.47c0,109.47-109.6,171.8-219.06,281.271    C146.47,340.898,37,278.568,37,169.099c0-60.44,49.04-109.47,109.47-109.47c54.73,0,82.1,27.37,109.47,82.1    C283.3,86.999,310.67,59.628,365.4,59.628z"
                          />
                        </g>
                      </g>
                      <g id="Layer_1" />
                    </svg>
                  </span>
                  by <a class="link" href="https://saugi.me">Saugi</a>
                </p>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  const themeToggle = document.getElementById("theme-toggle");
  const html = document.getElementsByTagName("html")[0];
  const body = document.getElementsByTagName("body")[0];
  const sunMoon = document.getElementById("sun-moon");

  themeToggle.addEventListener("click", () => {
    if (html.classList.contains("dark")) {
      html.classList.remove("dark");
      html.classList.add("light");
      body.classList.remove("bg-dark");
      body.classList.add("bg-light");
      localStorage.setItem("theme", "light");
    } else {
      html.classList.remove("light");
      html.classList.add("dark");
      body.classList.remove("bg-light");
      body.classList.add("bg-dark");
      localStorage.setItem("theme", "dark");
    }
  });

  const savedTheme = localStorage.getItem("theme");

  if (savedTheme === "dark") {
    html.classList.add("dark");
    body.classList.add("bg-dark");
    sunMoon.classList.remove("sun");
    sunMoon.classList.add("moon");
    body.classList.add("dark-theme");
  } else {
    html.classList.add("light");
    body.classList.add("bg-light");
    sunMoon.classList.remove("moon");
    sunMoon.classList.add("sun");
    body.classList.remove("dark-theme");
  }

  document.addEventListener("DOMContentLoaded", function () {
    const sidebarItems = document.querySelectorAll(".has-sub");

    sidebarItems.forEach((sidebarItem) => {
      const submenu = sidebarItem.querySelector(".submenu");

      sidebarItem.addEventListener("click", function (event) {
        const target = event.target;

        if (target.closest(".submenu-item")) {
          return;
        }

        event.preventDefault();

        if (!submenu.classList.contains("active")) {
          submenu.classList.add("active");
          const height = submenu.scrollHeight;
          submenu.style.maxHeight = `${height}px`;
          submenu.style.transitionDuration = `${Math.round(
            400 + height / 10
          )}ms`;
        } else {
          const height = submenu.scrollHeight;
          submenu.style.maxHeight = "0";
          submenu.style.transition = "max-height 0.3s ease-out";
          setTimeout(() => {
            submenu.classList.remove("active");
          }, 300);
        }
      });
    });
  });

  function handleResize() {
    const sidebarToggle = document.getElementById("sidebar-toggle");
    const sidebar = document.getElementById("sidebar");

    if (window.innerWidth <= 1200) {
      sidebarToggle.classList.remove("hidden");
      if (
        sidebar.classList.contains("active") &&
        window.devicePixelRatio >= 1.5
      ) {
        sidebar.classList.remove("active");
      }
    } else {
      if (!sidebar.classList.contains("active")) {
        sidebar.classList.add("active");
      }
    }
  }

  window.addEventListener("resize", handleResize);

  document.addEventListener("DOMContentLoaded", () => {
    const sidebar = document.getElementById("sidebar");
    const sidebarToggle = document.getElementById("sidebar-toggle");
    const sidebarHide = document.getElementById("sidebar-hide");

    sidebarToggle.addEventListener("click", () => {
      sidebar.classList.toggle("active");
      sidebar.classList.toggle("inactive");
    });

    sidebarHide.addEventListener("click", () => {
      sidebar.classList.toggle("active");
    });

    handleResize();
  });

  function toggleTheme() {
    const body = document.body;
    const sunMoon = document.getElementById("sun-moon");
    body.classList.toggle("dark-theme");

    if (body.classList.contains("dark-theme")) {
      sunMoon.classList.remove("sun");
      sunMoon.classList.add("moon");
      localStorage.setItem("theme", "dark");
    } else {
      sunMoon.classList.remove("moon");
      sunMoon.classList.add("sun");
      localStorage.setItem("theme", "light");
    }
  }
</script>
